<!DOCTYPE html>
<html>
<head> 
  <meta charset="utf-8"> 
  <title>woodx-AiMeiJu</title> 
  
  <script src="vue.min.js"></script>
  <script src="vue-router.js"></script>
  
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui@2.0.3/lib/theme-chalk/index.css">
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui@2.0.3/lib/index.js"></script>
  <script src="vue-resource.min.js"></script>
  

  <script src="indexjs.js" async></script>
  <link rel="stylesheet" type="text/css" href="indexcss.css">
</head>
<body>
  <div id="app">
    <el-button v-on:click="edit_click" type="primary" icon="el-icon-edit" circle></el-button>
    <el-button @click="changetoedit" type="primary" style="margin-right: 16px;">
      my video
    </el-button>

    <el-button @click="logout" type="primary" style="margin-right: 16px;">
      logout
    </el-button>

    <br>
    <el-carousel :interval="4000" type="card" height="200px">
      <el-carousel-item v-for="item in 6" :key="item">
        <h3 class="medium">{{ item }}</h3>
      </el-carousel-item>
    </el-carousel>
    <el-input 
      class = "search_input"
      placeholder=""
      v-model="input"
     clearable
     >
    </el-input>

    <el-button class = "search_button" v-on:click="search_click" type="primary" icon="el-icon-search">Search</el-button>
    <br>

    <el-card class="card" :body-style="{ padding: '0px' }" v-for="(TVinfo, i) in TVinfos">
      <img :src="TVinfo.ImageUrl" class="image" style="width: 200px; height: 200px">
      <div style="padding: 14px;">
        <span>{{TVinfo.Name}}</span>
        <div class="bottom clearfix">
          <el-button v-on:click="myDetail_click(i)" type="text" class="button">detail</el-button>
        </div>
      </div>
    </el-card>
  
  
</body>
</html>