

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>woodx-AiMeiJu</title> 
  
    <title>woodx-AiMeiJu</title> 
  
    <script src="vue.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.0.3/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui@2.0.3/lib/index.js"></script>

    <script src="vue-resource.min.js"></script>
    
    <script src="play.js" async></script>
    <link rel="stylesheet" type="text/css" href="play.css">
</head>
<body>
    <div id="app">
        <el-tag type="success">sender: </el-tag>
        <span>{{ description }}</span>
        <p class="showtime">displaytime: {{ show_time }}</p>
        <video  ref='video' width="80%" height="340" controls> </video>
        <p>简介:</p>
        <p>{{ detail }}</p>
        <hr>
        <div class="block" v-on:click="rate_click">
            <span class="demonstration">给出你的评分</span>
            <el-rate
              v-model="value2"
              :colors="colors"
              >
            </el-rate>
        </div>
        <p>leave you words</p>
        <el-input v-model="chat_message" placeholder="请输入" clearable  class="message"></el-input>
        <el-button type="primary" v-on:click="post_click">Send</el-button>
        <h4>评论区</h4>
        <div id = "description" v-for="message in Messages">
            <div class="demo-type">
                <el-avatar :size="20" src="https://cube.elemecdn.com/e/fd/0fc7d20532fdaf769a25683617711png.png" @error="errorHandler">
                <img src="https://cube.elemecdn.com/e/fd/0fc7d20532fdaf769a25683617711png.png"/>
                </el-avatar>
            </div>
            <div id = "saying_message">
                <span>{{ message.Sender }}</span>
                <br/>
                <span>{{ message.Content }}</span>
                <hr>
            </div>
        </div>
    </div>
</body>


</html>
